body {
  font: 14px/28px tahoma;
}
table {
  position: relative;
  border-collapse: collapse;
  margin-top: 40px;
  width:1230px;
}
td {
  padding: 0;
}
span {
  padding: 15px 0 15px 20px;
  min-height: 20px;
  display: block;
}
img {
  height: 35px;
  margin: -14px -5px;
}
th {
  background: rgba(190,190,190,.8);
  padding: 10px 10px 12px 20px;
  font-weight: 100;
  text-align: left;
  border-bottom: 1px solid #aaa;
  box-shadow: inset 0 -1px #ddd;
}
th img {
  height: 16px;
  vertical-align: middle;
}
table col:nth-of-type(1),
table td:nth-of-type(1):before {
  width: 105px;
}
table col:nth-of-type(2),
table td:nth-of-type(2):before {
  width: 325px;
}
table col:nth-of-type(3),
table td:nth-of-type(3):before {
  width: 125px;
}
table col:nth-of-type(4),
table td:nth-of-type(4):before {
  width: 125px;
}
table col:nth-of-type(5),
table td:nth-of-type(5):before {
  width: 80px;
}
table col:nth-of-type(6),
table td:nth-of-type(6):before {
  width: 200px;
}
table col:nth-of-type(7),
table td:nth-of-type(7):before {
  width: 135px;
}
table col:nth-of-type(8),
table td:nth-of-type(8):before {
  width: 135px;
}

#task1:checked ~ table tr:nth-of-type(2n),
#task2:checked ~ table tr:nth-of-type(2n) {
  background: #eef;
}

#task2:checked ~ table col:nth-of-type(2n) {
  background: #f3f3f3;
  border:solid #ccc;
  border-width:0 1px;
}
#task2:checked ~ table tr:nth-of-type(2n) td:nth-of-type(2n) {
  background: #e7e7e7;
}

#task3:checked ~ table span:hover {
  background: #eef;
  box-shadow:inset 0 0 0 1px #ccc;
}
#task3:checked ~ table tr:hover {
  background: #e7e7e7;
}
#task3:checked ~ table td:hover:before {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  background: #e7e7e7;
  content: '';
}
