html,
body,
h1,
h2,
img,
table
{
    margin: 0;
}

body
{
    background: #fff;
    font: 400 13px Arial, Helvetica, sans-serif;
    text-align: left;
    color: #000;
    min-width: 600px;
    padding: 30px;
}

h1
{
    font: 400 36px Verdana, Helvetica, sans-serif;
    text-align: right;
    border-bottom: 4px solid #fc3;
    margin: 0 0 40px;
    padding: 0 0 10px;
}

h1 span
{
    color: #f00;
}

h2
{
    font: 700 20px Tahoma, Geneva, sans-serif;
    margin: 40px 0 20px;
    padding-bottom: 11px;
}

h2 span
{
    color: #f00;
}

table
{
    width: 100%;
    border: 2px solid #fc3;
    margin: 10px 0;
    text-align: center;
    border-spacing: 2px;
    overflow: hidden;
}

thead tr
{
    background: #fc3;
    color: #f30;
    font-weight: 700;
    font-size: 11px;
}

th,
td
{
    padding: 10px;
}

/* Первый вариант реализации "Зебры" */
tbody tr:nth-child(2n)
{
    background: #ffc;
    color: #f60;
}

/** Второй вариант реализации "Зебры" 
*   tbody tr:nth-child(even)
*   {
*       background: #ffc;
*       color: #f60;
*   }
*/

/** Третий вариант реализации "Зебры":
*   При составлении таблицы для каждой четной строки прописывать/генерировать класс, например, ".even"
*   even
*   {
*       background: #ffc;
*       color: #f60;
*   }  
*/

/** Четвертый вариант реализации "Зебры":
*   С помощью селекторов соседей
*   tbody tr:first-child,
*   tbody tr:first-child + tr + tr,
*   tbody tr:first-child + tr + tr + tr + tr,
*   tbody tr:first-child + tr + tr + tr + tr + tr + tr
*   {
*       background: #ffc;
*       color: #f60;
*   }  
*/

/* Так же, разумеется, есть варианты с использованиям JavaScript и jQuery */

#cross tr td:nth-child(2n),
#crosshover tr td:nth-child(2n)
{
    background: #ff9;
}

#cross tr:nth-child(2n) td:nth-child(2n),
#crosshover tr:nth-child(2n) td:nth-child(2n)
{
    background: #ffe9cf;
}

#crosshover th,
#crosshover td
{
    padding: 0;
}

#crosshover th div,
#crosshover td div
{
    padding: 10px;
    position: relative;
    z-index: 10;
}

#crosshover td div
{
    height: 20px;
}

@media (max-width: 900px) {
    #crosshover td div
    {
       height: 60px;
    }
}
@media (max-width: 1245px) {
    #crosshover td div
    {
       height: 30px;
    }
}

#crosshover tr:hover td div
{
    background: #cfc;
    z-index: 2;
}

#crosshover td:hover div:before
{
    content: '';
    position: absolute;
    background: #cfc;
    width: 100%;
    height: 2000px;
    top: -1000px;
    left: 0;
    z-index: -2;
}

#crosshover td:hover div:after
{
    content: '';
    position: absolute; 
    background: #9f9;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    cursor: pointer;
}
/** Так же есть вариант реализовать Задачу #3,
*   используя тэг <col>, но в таком случае, нужно
*   будет задать фиксированную ширину для каждого столбца,
*   а хотелось бы, чтобы таблица была респосив.
*/