/**
 * 1. Первый вариант -- реализация посредством псевдоселектора nth-child или nth-of-type.
 *    Вместо "odd" можно было написать "2n+1". Не будет работать в старых браузерах, хотя в IE можно использовать expression.
 **/
tbody tr:nth-child(odd) {
    background: #fcf8e3;
}


/**
 * 2. При генерации таблицы задавать нечётным строкам нужный класс.
 *    Неплохой вариант, если нужна поддержка старых браузеров и не планируется динамически удалять/добавлять строки.
 **/
.odd {
    background: #fcf8e3;
}


/**
 * 3. С помощью JavaScript выбрать нечётные строки и добавить им нужный класс или нужные стили.
 *    Это не самый плохой вариант, если нужна поддержка старых браузеров.
 **/


/**
 * 4. А вот плохой вариант -- с помощью селекторов соседей.
 **/
tbody tr,
tr + tr + tr,
tr + tr + tr + tr + tr
/* etc */ {
    background: #fcf8e3;
}
tr + tr,
tr + tr + tr + tr,
tr + tr + tr + tr + tr + tr
/* etc */ {
    background: none;
}
