/* Раскрашиваем строки через одну */

.table1 tr:nth-child(even)
{
	background: rgba(127, 212, 255, .2);
}

/* Можно еще вот так:

#table1 tr:nth-of-type(even)
{
	background: rgba(127, 212, 255, .2);
}

#table1 tr:nth-child(2n)
{
	background: rgba(127, 212, 255, .2);
}
*/

.table1 td:nth-child(even)
{
	background: rgba(170, 127, 255, .2);
}