body{
    font: normal 11pt Arial, sans-serif;
    }
/* Табло аэропорта */
.airpanel{
    border-collapse: collapse;
    text-align: left;
    overflow: hidden;
    position: relative;
    }
    .airpanel th,
    .airpanel td{
        padding: 0;
        margin: 0;
        position: relative;
        z-index: 1;
        }
    .airpanel th div,
    .airpanel td div{
        padding: 5px;
        height: 40px;
        position: relative;
        z-index: 2; /* Содержимое ячейки выше всех */
        }
    .airpanel tr:nth-child(2n) div{
        background: #F0F0F0;
        background: rgba(240, 240, 240, 0.5); /* Для наложение на фон hover колонки */
        }
    .airpanel tr td:nth-child(2n) div{
        background: #EBEBEB;
        background: rgba(235, 235, 235, 0.5);
        }
    .airpanel tr:nth-child(2n) td:nth-child(2n){
        background: #C3C5D9;
        background: rgba(195, 197, 217, 0.5);
        }

    /* hover строки и ячейки */
    .airpanel tr td:hover{
        z-index: 0; /* hover ячейка ниже всех остальных ячеек */
        }
    .airpanel tr:hover td div{
        background: #dc8bfc;
        }
    /* hover колонки - под колонкой рисуем цветную область */
    .airpanel th:hover div:before,
    .airpanel td:hover div:before,
    .airpanel td:hover div:after{
        content: '';
        position: absolute;
        z-index: -2;
        background: #e88cfa;
        width: 100%;
        height: 4000px;
        top: -2000px;
        left: 0;
        }
    .airpanel td:hover div:after{
        z-index: -1;
        background: #8d00f0;
        height: 100%;
        top: 0;
    }