body
{
   margin: 30px;
   color: #333;
   font: 14px Arial, Helvetica, sans-serif
}

table
{
   position: relative;
   border-collapse: collapse;
   outline: 1px solid #ddd
}

td, th
{
   padding: 0;
   vertical-align: middle;
   text-align: center
}

img
{
   width: 139px
}

th
{
   height: 30px;
   background: #d0d0ff
}

td:nth-last-child(2n+1)
{
   background: rgba(169, 188, 241, .2)
}

tr:nth-last-child(2n+1)
{
   background: rgba(164, 182, 235, .2)
}

col:nth-of-type(1),
td:nth-of-type(1):before,
col:nth-of-type(2),
td:nth-of-type(2):before,
col:nth-of-type(3),
td:nth-of-type(3):before,
col:nth-of-type(4),
td:nth-of-type(4):before,
col:nth-of-type(5),
td:nth-of-type(5):before,
col:nth-of-type(6),
td:nth-of-type(6):before,
col:nth-of-type(7),
td:nth-of-type(7):before,
col:nth-of-type(8),
td:nth-of-type(8):before
{
   width: 12.5%
}

td:before
{
   position: absolute;
   z-index: -1;
   width: 100%;
   top: 0;
   bottom: 0;
   content: '';
   display: block;
}

tr:hover, td:hover:before
{
   background: rgba(164, 182, 235, .5)
}