table
{
   width: 100%;
   overflow: hidden;
   border-collapse: collapse;
   outline: 1px solid #ddd
}

img
{
   width: 139px
}

body
{
   margin: 30px;
   color: #333;
   font: 14px Arial, Helvetica, sans-serif
}

td,
th
{
   position: relative;
   text-align: center
}

th
{
   height: 30px;
   background: rgb(208, 208, 255)
}

td:first-child,
th:first-child
{
   text-align: left;
   text-indent: 20px
}

td:nth-child(2n+1)
{
   background: rgba(169, 188, 241, .2)
}

tr:nth-child(2n+1)
{
   background: rgba(164, 182, 235, .2)
}