/* [DEPARTURES] */

.departures {
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.departures-table {
    margin: 0 auto;
}

.departures-head,
.departures-cell {
    padding: 5px 15px;
    border: 2px solid #fff;
}

.departures-head {
    font: 400 16px/24px Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #fff;
    background: #999;
}

/* [DEPARTURES: highlighting] */

/* Row and column highlighting on hover (works on Firefox, Chrome, Opera and IE9+ without JS) */
/* Special benefits of this solution:
    1. Works on Firefox, because doesn`t require relative on <td>
    2. Not required any excess elements inside <td>
    3. Not required width definition for <td>
*/
.departures-cell:after {
    display: block;
    content: '';

    /* 1. Create highlighting element after every cell */
    position: relative;

    /* 2. And place it under this cell */
    z-index: -1;

    /* 3. Set big height (with reserve) */
    height: 10000px;

    /* 4. Then make this element not occupay its space after cell */
    margin: 0 0 -10000px;

    /* 5. Move this element upwards for height/2 */
    top: -5000px;

    /* 6. Set width equal cell width with paddings */
    width: 100%;
    padding: 0 15px;

    /* 7. Move left for cell left padding */
    left: -15px;
}

.departures-table {
    /* 8. And cut tails */
    overflow: hidden;
}

.departures-cell:hover /* Unnecessary, but fix small lag in IE9 */,
.departures-row:hover,
.departures-cell:hover:after {
    background: rgba(255, 0, 0, .1); /* Highlighting color */
}

/* [DEPARTURES: interlaced coloring] */

/* Columns (place it under highlighting) */
.departures-col:nth-child(odd):after{
    display: block;
    content: '';
    position: relative;
    z-index: -1;
    height: 10000px;
    margin: 0 0 -10000px;
    top: -5000px;
    width: 100%;
    padding: 0 15px;
    left: -15px;
    background: rgba(0, 0, 0, .05); /* Column odd color */
}

/* Rows (place it under highlighting) */
.departures-row:nth-child(odd):after,
.departures-row:nth-child(even):after {
    display: block;
    content: '';
    position: relative;
    z-index: -2;
    width: 1000px;
    height: 1000px;
    margin: 0 0 -1000px -1000px;
}

.departures-row:nth-child(odd):after {
    background: rgba(0, 0, 0, .05); /* Row odd color */
}

.departures-row:nth-child(even):after {
    background: #fff; /* Row even color */
}


/* [DEPARTURES: ie8] */

/* IE8 doesn`t support RGBA -> degradation to image via data:uri */
.ie8 .departures-row:hover,
.ie8 .departures-cell:hover:after {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA9JREFUeNpi+s/AIAUQYAAEJQEcEkoDEQAAAABJRU5ErkJggg==");
}

/* [DEPARTURES: ie7] */

/* IE7 doesn`t support RGBA and data:uri -> degradation to simple image */
.ie7 .departures-row:hover,
.ie7 .departures-cell:hover:after,
.ie7 .departures-cell:hover .departures-cell-after-i {
    background: url("content/backgrounds/departures-hover.png");
}

/* IE7 and IE6 doesn`t support ::after pseudo element -> create it via one-off expression */
.ie7 .departures-cell,
.ie6 .departures-cell {
    zoom: expression(this.runtimeStyle.zoom = "1", this.appendChild(document.createElement("div")).className="departures-cell-after");
}

.ie7 .departures-cell-after,
.ie6 .departures-cell-after {
    position: relative;
    z-index: -1;
    height: 10000px;
    margin: 0 0 -10000px;
    top: -5000px;
    left: -15px;
    text-align: left;

    /* Create child elemenet to fix width bug */
    zoom: expression(this.runtimeStyle.zoom = "1", this.appendChild(document.createElement("div")).className="departures-cell-after-i");
}

.ie7 .departures-cell-after-i,
.ie6 .departures-cell-after-i {
   width: 100%;
   height: 100%;
   padding: 0 15px;
}

.ie6 .departures-cell-after-i {
    position: absolute;
    height: 10000px;
}

/* [DEPARTURES: ie6] */

/* IE6 doesn`t support hover on div elements -> use mouse over|out events via one-off expression */
.ie6 .departures-cell {
    z-index: expression(this.runtimeStyle.zIndex = "1",
        onmouseover = function() {this.className += " departures-cell-hover"},
        onmouseout = function() {this.className = this.className.replace("departures-cell-hover", "")});
}

.ie6 .departures-row {
    z-index: expression(this.runtimeStyle.zIndex = "1",
        onmouseover = function() {this.className += ' departures-row-hover'},
        onmouseout = function() {this.className = this.className.replace("departures-row-hover", "")});
}

.ie6 .departures-row-hover,
.ie6 .departures-cell-hover .departures-cell-after-i {
    background: url("content/backgrounds/departures-hover.png"); /* could be used AlphaImageLoader instead to fix PNG24 */
}

/* IE6 doesn`t support overflow hidden without hasLayout -> set "hasLayout = true" with height */
.ie6 .departures {
    height: 1%;
}

/* IE6 doesn`t support abbr tag -> use depricated acronym */
acronym {
    border-bottom: 1px dotted;
    cursor: pointer;
}


/* [DEPARTURES: print] */

@media print {

    .departures-head {
        font-size: 12px;
    }

}