/* [BOARD] */

.departures {
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.departures-table {
    margin: 0 auto;
}

.departures-head,
.departures-cell {
    padding: 5px 15px;
    border: 2px solid #fff;
}

.departures-head {
    font: 400 16px/24px Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #fff;
    background: #999;
}

/* Row and column interlaced coloring */
.departures-row:nth-child(odd),
.departures-cell:nth-child(odd) {
    background: rgba(0, 0, 0, .05);
}

/* Row and column highliting on hover (works on Firefox, Chrome, Opera and IE9+ without JS) */
/* Special benefits of this solution:
    1. Works on Firefox, because doesn`t require relative on <td>
    2. Not required any excess elements inside <td>
    3. Not required width definition for <td>
*/
.departures-cell:after {
    display: block;
    content: '';

    /* 1. Create highliting element after every cell */
    position: relative;

    /* 2. And place it under this cell */
    z-index: -1;

    /* 3. Set big height (with reserve) */
    height: 10000px;

    /* 4. Then make this element not occupay its space after cell */
    margin: 0 0 -10000px;

    /* 5. Move this element upwards for height/2 */
    top: -5000px;

    /* 6. Set width equal cell width with paddings */
    width: 100%;
    padding: 0 15px;

    /* 7. Move left for cell left padding */
    left: -15px;
}

.departures-table {
    /* 8. And cut tails */
    overflow: hidden;
}

.departures-cell:hover /* Unnecessary, but fix small lag in IE9 */,
.departures-row:hover,
.departures-cell:hover:after {
    background: rgba(255, 0, 0, .1);
}

/* [IE8: departures] */

/* IE8 doesn`t support RGBA -> degradation to image via data:uri */
.ie8 .departures-row:hover,
.ie8 .departures-cell:hover:after,
.ie8 .departures-cell:hover .departures-cell-after {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA9JREFUeNpi+s/AIAUQYAAEJQEcEkoDEQAAAABJRU5ErkJggg==");
}

/* [IE7: departures] */

/* IE7 doesn`t support RGBA and data:uri -> degradation to simple image */
.ie7 .departures-row:hover,
.ie7 .departures-cell:hover:after,
.ie7 .departures-cell:hover .departures-cell-after-i {
    background: url("content/backgrounds/departures-hover.png");
}

/* IE7 doesn`t support ::after pseudo element -> place it via one-off expression */
.ie7 .departures-cell {
    zoom: expression(this.runtimeStyle.zoom = "1", this.appendChild(document.createElement("div")).className="departures-cell-after");
}

.ie7 .departures-cell-after {
    zoom: expression(this.runtimeStyle.zoom = "1", this.appendChild(document.createElement("div")).className="departures-cell-after-i");

    position: relative;
    z-index: -1;
    height: 10000px;
    margin: 0 0 -10000px;
    top: -5000px;
    left: -15px;
}

.ie7 .departures-cell-after-i {
   width: 100%;
   height: 10000px;
   padding: 0 15px;
}


/* [PRINT: departures] */

@media print {

    .departures-head {
        font-size: 12px;
    }

}