/* [FLIGHT] */

.flight-logo {
    text-align: center;
}

.flight-print-name {
    display: none;
}

/* [PRINT: flight] */

@media print {

    .flight-date,
    .flight-print-name {
        display: block;
    }

    /* Hide logo and show text instead */
    .flight-logo-image {
        display: none;
    }

}

