/* [PAGE] */

.page {
    background: #ccc;
    color: #000;
}

.page-width {
    position: relative;
    width: 910px;
    margin: 0 auto;
    padding: 40px;
    background: #fff;
}

/* [PAGE: print] */
@media print {

    @page {
        margin: 40px;
    }

    .page-width {
        width: auto;
        padding: 0;
    }

}