@charset "UTF-8";

/* [PRINT] */

@media print {

    a,
    a:visited {
        text-decoration: none;
    }

    a[href]:after {
        content: " (" attr(href) ")";
        color: #666;
        word-wrap: break-word;
        border-bottom: none;
    }

    a[href^="#"]:after {
        content: "";
    }

}