body
{
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif
}

.wrap
{
    min-width: 840px;
    max-width: 1300px;
    margin: 40px auto;
    overflow: hidden
}

.control
{
    padding:20px 0 5px
}

.control > a
{
    color: #428bca;
    text-decoration: none;
    border-bottom: 1px dashed #428bca;
    margin: 0 10px
}

table
{
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    position: relative
}

th
{
    text-align: left;
    color: #999;
    font-weight: 100;
    padding: 11px
}

tbody td
{
    border-top: 1px solid #f5f5f5
}

tbody td:first-child,
tbody td:last-child
{
    width: 1px
}

tbody td:first-child > div
{
    margin: 0
}

tbody td > div
{
    margin: 0 10px
}

.description
{
    color: #999;
    font-size: 11px
}

.state
{
    padding: .2em .6em .3em;
    color: #fff;
    white-space: nowrap;
    border-radius: .25em
}

.state-success
{
    background-color: #5cb85c
}

.state-warning
{
    background-color: #f0ad4e
}