table:target td:nth-child(2n),
table:target tr:nth-child(2n)
{
    background: rgba(0, 0, 0, .05)
}

tbody tr:hover,
table:target tbody tr:hover
{
    background: rgba(0, 0, 0, .07)
}

td:after
{
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .07);
    content: '';
    z-index: -1;
    display: none
}

td:hover:after
{
    display: inherit
}

/* В Firefox < 24.0 оверлей работает некорректно. */

td:hover + td:after
{
    background: #fff;
    display: inherit
}